body #root {
    width: 420px;
    height: 100vh;
    margin: 0 auto;
}
header {
    padding: 20px 0;
}
.row {
    display: flex;
    flex-direction: row;
}
.wrapper {
    padding: 0 20px;
    max-width: calc(100vw - ( 2 * 20px ));
}
.column {
    display: flex;
    flex-direction: column;
}
/*.logo{
	margin: 0 0 0 auto;
	width: 100%;
	height: 90px;
	background-image:url('../images/logo.png');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: contain;
	background-color: #ffffff;
	box-shadow: 2px 1px 10px #ccc;
}*/
.logo {
    margin: 0 0 0 auto;
    width: 100%;
    height: 90px;
    background-image: url('../images/CID-banner.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: contain;
    background-color: #33804e;
    box-shadow: 2px 1px 10px #ccc;
}

.description-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 0 20px 0;
    padding: 0;
}
.description-container .description {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    display: block;
}
.capture-photo .capture-group .capture-container .capture {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 0 20px 0;
}
.btn {
    /*color: #82973c;*/
    color: #33804e;
    background-color: #ffffff;
    border: 2px solid #33804e;
    font-size: 16px;
    line-height: 48px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 20px 0;
    display: block;
    padding: 0;
}
    .btn:hover {
        color: #33804e;
    }
.buttonBgText{
	margin: 0;
}
.buttonBgTextCthisI {
    margin: 0;
}
.footrow p{
	text-align: center;
}