html,body{
	height:100%;
	min-height:100%;
}
body{
	font-family: Cambria;
	margin:0;
	/*background-size:cover;*/
}
#vms{
	min-height:100%; 
}
.bg-green{
	background-color: #0E600E;
}
.bg-yellow{
	background-color:#E0BF0B;
}
.bg-yellow:hover{
	background-color:#E0BF0B;
}
.Topheader{
	color: White;
	font-family: Cambria;
	font-size: 23px;
	text-align:center;
	padding:5px;
	/* background-color: #0E600E; */
}
.Topheader p{
	font-weight: bold;
	text-align:center;
}
 #vmshead{
	text-align:center;
	font-weight:bold;
} 
.Loginheader{
    font-size: 13px;
    border-radius: 10px;
    padding: 10px 0px; 
    margin: 10px 0px;
    border: 3px solid #E0BF0B; 
}
fieldset {
    border: 2px solid #E0BF0B;
    margin-bottom: 22px;
}
legend {
    margin: 0px;
    width: auto;
    border: none;
    color: #0E600E;
}
.log{
	padding:20px;
}
#btnreg{
	color: #0E600E;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
	font-weight: bold;
}
.pwd {
    margin-left: 5px;
}
.otp{
	margin-left:30px;
}
.btnlogin{
	color: White;
	font-weight: bold;
	margin-left:85px;
	/* background-color: #0E600E; */
}
.corpor{
	border: 2px solid #E0BF0B;
	min-height: 300px;
	border-radius: 0px 0px 10px 10px;
	margin: 10px;
}
.corhead{
	margin-top:10px;
}
.datalist-contentHeading1{
	font-size: 18px;
	font-weight: Bold;
	font-family: Cambria;
	color: white;
	padding: 6px;
	border-radius: 3px;
	text-transform: uppercase;
	/* background-color: #0E600E; */
}
.news{
	font-style:italic;
	padding:5px;
}
.footer-content {
    width: 100%;
	padding:7px;
    font-family: Cambria;
    font-size: 13px;
    font-weight: bold;
	/* background: #0E600E; */
}
.footer-content p {
    margin: 0px;
    line-height: normal;
    text-align: center;
    color: White;
}
.footer-content a{
	text-decoration: underline;
    color: #E0BF0B;
}

/*****
Building List
*****/
.Topheader-build{
	color: White;
	font-family: Cambria;
	font-size: 23px;
	/* background-color: #0E600E; */
}
.Topheader-build p{
	margin-bottom:10px;
	font-weight:bold;
}
#logout{
	font-size:12px;
}
.rightdiv{
	float:right;
}
.rightdiv a{
	color:#fff;
	font-size:14px;
	text-decoration:none;
	font-weight:bold;
}
.menulist{
    width: 100%;
    color: #FFF;
    padding:5px;
    margin-bottom: 3px;
   border: 3px solid rgb(224, 191, 11); 
    /* background-color: rgb(14, 96, 14); */
    border-radius: 10px;
}
#mysearch {
    width: 80%;
    display: inline-block;
	border-radius: 4px 0px 0px 4px !important;
	vertical-align:middle;
}
.search-btn{
	border-color:#E0BF0B;
	border-radius: 0px 4px 4px 0px !important;
	/* background-color:#E0BF0B; */
}
.search-btn:hover{
	border-color:#E0BF0B;
}
.search-btn i{
	color:#fff;
}
.navbar-nav .nav-listitem .nav-list{
	color:#fff;
	font-weight:bold;
	text-decoration:none;
	padding: 8px 25px;
}
.navbar-nav > .nav-listitem > .nav-list:hover{
	color:#E0BF0B;
	background-color:transparent;
}
.navbar-nav > .nav-listitem.active > .nav-list, .navbar-nav > .nav-listitem.active > .nav-list:focus{
	color:#E0BF0B;
	/* background-color:transparent; */
}
.newdatalist{
	border: 4px solid #CDCDCD;
	border-radius: 0px 0px 10px 10px;
	min-height: 250px;
	text-decoration: none;
	list-style: none;
	padding: 20px;
}
.newdatalist ul.listul li.listli {
	list-style: none;
	padding:5px;
}
.newdatalist ul.listul{
	padding:15px;
}
.newdatalist ul.listul li.listli a.list-link {
    color: #0E600E;
    font-size: 14px;
    font-family: Cambria;
    border: none;
    font-weight: bold;
    font-variant: small-caps;
	text-decoration:none;
}
.newdatalist ul.listul li.listli a.list-link:hover{
	color:#E0BF0B;
	background-color:transparent;
}
.newdatalist > ul.listul > li.listli.active > a.list-link{
	color:#E0BF0B;
}
.content{
	border: 4px solid #CDCDCD;
	border-radius: 0px 0px 10px 10px;
}
.buildheader, .emp{
	font-size: 18px;
	/* background: #E0BF0B; */
}
.buildheader p, .emp p{
	color:#fff;
	font-weight:bold;
	padding:5px;
}
.buildheader a, .emp a, #emp a{
	color:#fff;
}
.buildheader a:hover, .emp a:hover, #emp  a:hover{
	color:#333;
}
.addbuild{
	margin: 30px auto !important;
}
.emptype> tbody > tr >td{
    border: 1px solid #E0BF0B;
	padding:5px;
	font-weight:bold;
	font-size: 14px !important;
}
.buildbtn{
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	padding: 5px 25px;
	border-radius: 4px;
	/* background-color: #0E600E; */
}
.buildbtn:hover{
	color:#fff;
	text-decoration:none;
}
.calDiv {
    border: 2px solid #CDCDCD;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
}
.maindiv{
	border:2px solid #CDCDCD;
	padding:10px;
	margin:5px 0px;
	border-radius: 0px 0px 10px 10px;
}
.exchange{
	float:right;
	padding:5px;
	font-size: 16px;
}

/********
Sidebar
*********/

#col-size{
	margin:5px 0px;
}
.toggle-menu{
	display:none;
	margin-right:20%;
}
/****** 
Table
*******/
.buildname{
	width:80%;
	margin:auto;
	margin-bottom:30px;
}
.buildname > thead > tr > th{
	border: 1px solid #333;
	background-color: #0E600E;
	color:#fff;
	padding:5px;
}
.buildname > tbody > tr > td{
	border: 1px solid #333;
	padding:5px;
}
.buildname > tbody > tr > td a{
	color:Blue;
	text-decoration:none;
}
.emptype> tbody > tr >td .multi, .information{
	color:#0E600E;
	text-decoration:none;
	font-size:12px;
}
.calender{
	border:1px solid #E0BF0B;
	min-height:200px;
}
.btnEvent{
	width:100%;
	color:#fff;
	margin:10px 0px;
	font-weight:bold;
}
.events{
	border:1px solid #E0BF0B;
	min-height:200px;
}
.name{
	width:50%;
	padding:7px;
}
/*******
Emp Reg
********/
#employeereg, #visitorreg{
	margin: 0px;
}
.empborder{
	border: 2px solid #CDCDCD;
	margin: 5px 0px;
	padding:0px 15px; 
	border-radius: 0px 0px 10px 10px; 
} 
.emp p, #emp p{
	color:#fff;
/* 	padding:5px; */
	font-size:18px;
	font-weight:bold;
}
.emptype {
    margin-bottom: 10px;
}
.detailarea{
	width:188px;
	line-height:15px;
}
.cal{
	display:inline-block;
	margin-right: 10px;
}
.empselect {
    width: 188px;
    height: 28px;
}
.submitbtn a, .tablebtn a{
	text-decoration:none;
	color:#fff;
	padding:8px 15px;
	border-radius:4px;
	font-weight:bold;
}
.submitbtn a:hover{
	color:#E0BF0B;
}
.submitbtn{
	text-align:center;
	padding:10px;
}
.tablebtn{
	padding:10px !important;
	text-align:center;
}