@model MVC_AssureIDScan.Models.IDScan
@{
    Layout = "~/Views/Shared/_LayoutIDScan.cshtml";
}


@using (Html.BeginForm("CapturePhoto", "IDScan", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row wrapper description-container" id="CaptureOne">
        <p class="description">
            Upload a clear picture of the front of your ID card.
        </p>
    </div>
    <div class="capture-group" id="CaptureTwo">
        <div class="row wrapper capture-container">
            <img src="~/media/scan_process.0b1f3e62.gif" class="capture" alt="idscango">
            @Html.Hidden("ImageUrl")
            @Html.TextBoxFor(model => model.files, "", new { @type = "file",@class="hidden", @accept = "image/*" })

        </div>
        <div class="wrapper column capture-controls">
            <label class="btn" for="files">
                <p class="buttonBgText">Capture ID / Passport</p>
            </label>
            <label class="btn" for="files">
                <p class="buttonBgText">Capture Media Card</p>
            </label>
        </div>
    </div>


    <div class="row wrapper description-container" id="ConfirmOne" style="display:none;">
        <p class="description">
            Ensure all texts are visible.
        </p>
    </div>
    <div class="capture-group" id="ConfirmTwo" style="display:none;">
        <div class="row wrapper capture-container">
            <img src="@ViewBag.Photo" class="capture" alt="idscango" id="Photo">
        </div>

        <div class="wrapper column capture-controls">
            <a class="btn">
                <input type="submit" value="Continue with this image" class="buttonBgText" style="border:none;width:376px;background:white;" />
            </a>
            <label class="btn" for="files">
                <p class="buttonBgText">Retry</p>
            </label>
        </div>
    </div>
}


<script src="~/js/jquery-1.7.1.js"></script>
<script src="~/js/jquery.cropit.js"></script>
<style>

    .cropit-preview {
        background-color: #f8f8f8;
        background-size: cover;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-top: 7px;
        width: 400px;
        height: 280px;
    }

    .cropit-preview-image-container {
        cursor: move;
    }

     .cropit-preview-background {
        opacity: .2;
        cursor: auto;
    }

    .image-size-label {
        margin-top: 10px;
    }

    input, .export {
        /* Use relative position to prevent from being covered by image background */
        position: relative;
        z-index: 10;
        display: block;
    }

    button {
        margin-top: 10px;
    }
</style>
<script>
    $(document).ready(function () {
        $("#files").change(function () {

            //var x = $("#file"), y = x.clone();
            //$("#files").appendTo(y);

            var File = this.files;
            if (File && File[0]) {
                ReadImage(File[0], "#Photo");
            }

            $("#ConfirmOne").show();
            $("#ConfirmTwo").show();
            $("#CaptureOne").hide();
            $("#CaptureTwo").hide();
        });
    });

    var ReadImage = function (file, id) {
        var reader = new FileReader();
        var image = new Image();

        reader.readAsDataURL(file);
        reader.onload = function (_file) {
            image.src = _file.target.result;
            image.onload = function () {
                //$(id).attr('src', _file.target.result);
                //$("#ImageUrl").val("");
                //$("#ImageUrl").val(_file.target.result);

                var canvas = document.createElement("canvas");
                var context = canvas.getContext("2d");
                canvas.width = image.width / 4;
                canvas.height = image.height / 4;
                context.drawImage(image,
                    0,
                    0,
                    image.width,
                    image.height,
                    0,
                    0,
                    canvas.width,
                    canvas.height
                );
               
                $(id).attr('src', canvas.toDataURL());
               
                $("#ImageUrl").val("");
                $("#ImageUrl").val(canvas.toDataURL());

               
            }
        }
    }


</script>

@if (ViewBag.ErrorMessage != null)
{
    <script type="text/javascript">
        window.onload=function (){
            alert("@ViewBag.ErrorMessage");
        };
    </script>
}
